.main {
    flex: 1;
}

.container {
    width: 90%;
    max-width: 1280px;
    margin: 0px auto;
    padding: 16px;
}

.title {
    font-size: 36px;
    font-weight: 700;
    color: #1a1a1a;
    margin-bottom: 60px;
    text-align: center;
}

.description {
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    margin-bottom: 16px;
}

.link {
    font-size: 18px;
    font-style: bold;
    text-decoration: underline;
    color: #444444;
}

.link:hover {
    color: #000000;
}

.loader {
    font-size: 16px;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 4px 16px;
    border-radius: 6px;
    border: 1px solid transparent;
    color: #084298;
    background-color: #e8f4fd;
    border-color: #b6d4fe;
}
